
.DS_Store
token.txt
dev/monitoring/alert-manager/slack.config
prod/aws/terraform/terraform.tfstate
prod/aws/terraform/terraform.tfstate.backup
prod/aws/terraform/.terraform.lock.hcl
.terraform
dev/opentelemetry